/* För att width 100% alltid inkluderar padding och border */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: #ffffff;
  color: #000000;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: #29160a;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}

/* Header indelad i 3 block och två rader*/
header {
  display: grid;
  grid-template-areas:
    ". logo ."
    ". nav newsletter";
  /* Fördelning av kolumner där loggan hamnar centrerat av sidan*/
  grid-template-columns: 1fr auto 1fr;
  border-bottom: 2px solid #e3a465;
  /* Skugga för separation */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 100%
}

.logo {
  grid-area: logo;
  display: block;
  justify-self: center;
  height: 120px;
  padding: 1.5rem;
}

.newsletter-link {
  grid-area: newsletter;
  justify-self: end;
  text-decoration: none;
  color: #29160a;
  font-size: 1rem;
  font-weight: normal;
}

nav {
  grid-area: nav;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* Centrerade navigations länkar */
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #2b150a;
}

/* Hover-effekt */
nav a:hover {
  color: #5a81aa;
}

/* Huvudsektion med nyhet, två kolumner */
.main {
  display: grid;
  /* 2 kolumner när det finns plats, annars 1 kolumn */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  margin: 1rem;
  /* marginal runt om */
  padding-right: 2rem;
  /* padding höger */
  padding-left: 2rem;
  /* padding vänster */
}

.text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

/* Bild i vänster kolumn */
.main-image {
  grid-column: 1;
}

/* För att bilden skall fylla ut */
.main-image img {
  max-width: 100%;
  height: auto;
}

/* Text höger kolumn*/
.main-text {
  text-align: left;
  padding: 1rem;
}

.main-text p {
  font-size: 18px;
  line-height: 2rem;
}

.news-vykort {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  /* Utrymme mellan kolumnerna */
  margin: 1rem;
}

.vykort h2 {
  font-size: 1.5rem;
  margin: 0;
  padding-top: 0.7rem
}

.vykort {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  /* Utrymme mellan text och kortkanter */
  text-align: center;
  transition: transform 0.3s ease;
  /* Lika stora kort */
  width: 100%;
  height: 400px;
  max-width: 400px;
}

/* Effekt vid hover */
.vykort:hover {
  transform: translateY(-5px);
}

/* Anpassa bilden till vykortet */
.news-image-cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.news-image-contain {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.date {
  font-size: 0.9rem;
  color: #555555;
  text-align: center;
  margin-top: auto;
  /* Placerar datumet längst ner på kortet */
}

.site-footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #777777;
}


/* Responsivitet för tablet: (425px - 768px) */
@media (max-width: 1024px) {
  .news-vykort {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  nav a {
    font-size: 1.2rem;
    gap: 1rem;
  }

  .newsletter-link {
    font-size: 0.8rem;
  }
}



/* Responsivitet för mobil: (320px - 425px) */
@media (max-width: 600px) {
  .nav ul {
    font-size: 0.8rem;
    gap: 1rem;
  }

  .newsletter-link {
    display: none;
  }

  .main {
    padding-right: 0.5rem;
    /* mindre padding för mindre skärmar */
    padding-left: 0.5rem;
  }

  .main-text h1 {
    font-size: 1.2rem;
  }

  .main-text p {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .nav a {
    font-size: 1rem;
  }

  .newsletter-link {
    font-size: 0.8rem;
  }

  /* 1 kolumn */
  .news-vykort {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .vykort h2 {
    font-size: 1.2rem;
  }
}